
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body class="container">
    <h1 class="my-5"><a href="/">Main page</a> > Products</h1>
    <hr>
    <div class="row">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
              <img src="{{ product.image }}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'product-detail'  product.id %}">{{ product.name }}</a></h5>
                <p class="card-text">Best {{ product.name }} in the world.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: {{ product.price }}</li>
              </ul>
              <div class="card-body">
                  Updated by: {{ product.changed_at }}
              </div>
            </div>
        {% endfor %}
        <br>

    </div>
</body>
</html>